.header__input--container{
    text-align: center;
    margin: 50px 50px;
}
.header__input{
    text-align: center;
    font-size: 1.25rem;
    text-transform: capitalize;
    width: 60%;
    height: 60px;
    box-shadow: 15px;
    border: none;       
}